[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
Mako = "*"
SQLAlchemy = "*"
"psycopg2-binary" = "*"
attrs = "*"
faker = "*"
shapely = "*"
bidict = "*"

[dev-packages]
pytest = "*"
nbval = "*"
jupyter = "*"
ipython = "*"
pytest-cov = "*"
yapf = "*"
"testing.postgresql" = "*"
jupyterlab = "*"
