[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
attrs = "*"
faker = "*"
shapely = "*"
bidict = "*"
geojson = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
yapf = "*"
"testing.postgresql" = "*"
"tohu" = {editable = true, path = "."}
"e1839a8" = {editable = true, path = "."}
nbval = "*"
jupyterlab = "*"
ipython = "*"
